{
    "useTabs": false,
    "singleQuote": true,
    "trailingComma": "none",
    "printWidth": 90,
    "bracketSpacing": true,
    "bracketSameLine": true,
    "arrowParens": "always",
    "tabWidth": 4,
    "plugins": ["prettier-plugin-svelte"],
    "pluginSearchDirs": ["."],
    "overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
