.grid {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 10px;
    grid-template-columns: 30px 38px 510px 38px 38px 38px;
}

.centre {
    width: 450px;
}

.empty {
    width: 100%;
}
