@font-face {
	font-family: 'Space Mono';
	src: url('/fonts/SpaceMono-Regular.ttf') format('truetype')
}

:root {
	--font: 'Space Mono', 'Courier New', Courier, monospace
}

text {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html, body {
    background: rgba(255, 255, 255);
	height: 100%;
}

body {
	color: #333;
	margin: 0;
	box-sizing: border-box;
	font-family: var(--font);
}

main {
	text-align: center;
	padding: 1em;
	max-width: 100%;
	margin: 0 auto;
}

@media (min-width: 640px) {
	main {
		max-width: none;
	}
}

a {
	color: #59a245;
	color: #40ac47;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	background: #59a245;
	background-color: #40ac47;
	color: white;
}

a:visited {
	color: #59a245;
	color: #40ac47
}

a:visited:hover {
	color: white;
}