@font-face {
	font-family: 'Space Mono';
	src: url('/fonts/SpaceMono-Regular.ttf') format('truetype');
}

:root {
	--primary: #3a5963;
	--primary-darker: hsl(324, 100%, 40%);
	--grey: #e4e4e3;
}

html {
	font-size: 20px;
	background-color: white;
}

.no_hover {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-family: var(--font);
}
